<h3 id="guide"><%=t 'form.guide' %></h3>

<%= form_tag(search_path, :method => "get", :id => "faceform") do %>
	<%= text_field_tag(:id, params[:id]) %>
	<%= submit_tag t('form.button'), :id => "submit" %>
<% end -%>