<h2 id="name"><%= link_to @result['name'], @result['link'] %></h2>
<div id="picture"><%= link_to image_tag('http://graph.facebook.com/' + @result['id'] + '/picture?type=large'), @result['link'] %></div>