<h2 id="name"><a href="http://facebook.com/profile.php?id=<%= @result['id'] %>"><%= @result['name'] %></a></h2>
<div id="picture">
	<a href="http://facebook.com/profile.php?id=<%= @result['id'] %>"><img src="http://graph.facebook.com/<%= @result['id'] %>/picture?type=large" alt="Profilbilde" /></a>
</div>