@font-face {
	font-family: 'AngelinaRegular';
	src: url('angelina-webfont.ttf');
}

@font-face {
	font-family: 'Lemiesz';
	src: url('Lemiesz.ttf');
}

@font-face {
	font-family: 'TrueCrimes';
	src: url('true-crimes.ttf');
}

@font-face {
	font-family: 'Klavika';
	src: url('klavikamedium-tf-webfont.ttf');
}